.position div,
.float div {
  display: inline-block;
  width: 100px;
  height: 50px;
  border: dotted 1px rgba(0, 0, 0, .5);
  background: #fff;
}

.position div:not(:first-child):not(:last-child) {
  position: relative;
  top: 20px;
  left: 20px;
}

.float div {
  display: block;
}

.float div:first-child {
  float: left;
}

.float .float-2 {
  display: inline;
}

.container {
  width: 400px;
  padding: 1em 0;
  background: #ccc;
}

.row {
  display: flex;
}

.col {
  flex: 1 1 0%;
  height: 4em;
  border: 1px solid #000;
  box-sizing: border-box;
}

.col:first-child {
  margin-right: 1em;
}
