body, div, p, ul, li {
	margin: 0;
	padding: 0;
}

body {
	font: 14px/1 Verdana;
	color: #333;
}

a {
	color: #00b7ff;
}

#container {
	width: 100%;
}

#content {
	width: 980px;
	margin: 0 auto;
}

#room {
	background: #ddd;
	margin-bottom: 15px;
}

#messages {
	width: 690px;
	height: 300px;
	overflow: auto;
	background: #eee;
	margin: 0 10px 15px 0;
}


#room-list {
	float: right;
	width: 100px;
	height: 300px;
	overflow: auto;
}
#room-list div {
	border-bottom: 1px solid #eee;
}

#room-list div:hover {
	background: #ddd;
}

#send-message {
	width: 700px;
	margin-bottom: 1em;
	margin-right: 1em;
}

#help {
	font: 10px/1 "Lucida Grande", Helvetica, Arial, sans-serif;
}
