html, body, div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-wrapper {
  width: 50vw;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  grid-template-areas: 
    "a b c"
    "d e f"
    "g h i";

  gap: 10px;
  justify-content: center;
  align-content: space-evenly;
}

.grid > * {
  border: solid 1px rgba(0, 0, 0, .4);
  border-radius: 10px;
}

.grid-item-1 {
  grid-area: f;
}
