html,
body,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  color: #555;
}

ul {
  width: 760px;
  margin: 50px auto;
}

ul:after {
  display: block;
  content: '';
  clear: both;
}

li {
  float: left;
  padding: 15px 25px;
}

/* Slider */
.nav-slider li {
  position: relative;
}

.nav-slider li::after {
  content: '';
  width: 0;
  position: absolute;
  left: 100%;
  bottom: 0;
  border-bottom: solid 2px #aaa;
  transition: all 0.2s ease-in-out;
}

.nav-slider li:hover ~ li:after {
  left: 0;
}

.nav-slider li:hover::after {
  width: 100%;
  left: 0;
}
