body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #fc0;
}

.transparent-border {
  display: inline-block;
  padding: 25px;
  border: solid 10px hsla(0, 0%, 100%, .5);
  background: #fff;
  background-clip: padding-box;
}
