.loading {
	display: block;
	width: 32px;
	height: 32px;
	margin: -16px 0 0 -16px;
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
	text-indent: -999px;
	background: url(img/loading.png) no-repeat;
	
	-webkit-animation: loading 1s step-start infinite;
    -moz-animation: loading 1s step-start infinite;
    -ms-animation: loading 1s step-start infinite;
    -o-animation: loading 1s step-start infinite;
    animation: loading 1s step-start infinite;
}

@-webkit-keyframes loading {
    0% { background-position: 0 0; }
    4.34% { background-position: -32px 0; }
    8.68% { background-position: -64px 0; }
    13.02% { background-position: -96px 0; }
    17.36% { background-position: -128px 0; }
   	21.7% { background-position: -160px 0; }
    26.04% { background-position: -192px 0; }
    30.38% { background-position: -224px 0; }
    34.72% { background-position: -256px 0; }
    39.06% { background-position: -288px 0; }
    43.4% { background-position: -320px 0; }
    47.74% { background-position: -352px 0; }
    52.08% { background-position: -384px 0; }
    56.42% { background-position: -416px 0; }
    60.76% { background-position: -448px 0; }
    65.1% { background-position: -480px 0; }
    69.44% { background-position: -512px 0; }
    73.78% { background-position: -544px 0; }
    78.12% { background-position: -576px 0; }
    82.46% { background-position: -608px 0; }
    86.8% { background-position: -640px 0; }
    91.14% { background-position: -672px 0; }
    95.48% { background-position: -704px 0; }
    100% { background-position: -736px 0; }
}
 
@-moz-keyframes loading {
    0% { background-position: 0 0; }
    4.34% { background-position: -32px 0; }
    8.68% { background-position: -64px 0; }
    13.02% { background-position: -96px 0; }
    17.36% { background-position: -128px 0; }
   	21.7% { background-position: -160px 0; }
    26.04% { background-position: -192px 0; }
    30.38% { background-position: -224px 0; }
    34.72% { background-position: -256px 0; }
    39.06% { background-position: -288px 0; }
    43.4% { background-position: -320px 0; }
    47.74% { background-position: -352px 0; }
    52.08% { background-position: -384px 0; }
    56.42% { background-position: -416px 0; }
    60.76% { background-position: -448px 0; }
    65.1% { background-position: -480px 0; }
    69.44% { background-position: -512px 0; }
    73.78% { background-position: -544px 0; }
    78.12% { background-position: -576px 0; }
    82.46% { background-position: -608px 0; }
    86.8% { background-position: -640px 0; }
    91.14% { background-position: -672px 0; }
    95.48% { background-position: -704px 0; }
    100% { background-position: -736px 0; }
}
 
@-ms-keyframes loading {
    0% { background-position: 0 0; }
    4.34% { background-position: -32px 0; }
    8.68% { background-position: -64px 0; }
    13.02% { background-position: -96px 0; }
    17.36% { background-position: -128px 0; }
   	21.7% { background-position: -160px 0; }
    26.04% { background-position: -192px 0; }
    30.38% { background-position: -224px 0; }
    34.72% { background-position: -256px 0; }
    39.06% { background-position: -288px 0; }
    43.4% { background-position: -320px 0; }
    47.74% { background-position: -352px 0; }
    52.08% { background-position: -384px 0; }
    56.42% { background-position: -416px 0; }
    60.76% { background-position: -448px 0; }
    65.1% { background-position: -480px 0; }
    69.44% { background-position: -512px 0; }
    73.78% { background-position: -544px 0; }
    78.12% { background-position: -576px 0; }
    82.46% { background-position: -608px 0; }
    86.8% { background-position: -640px 0; }
    91.14% { background-position: -672px 0; }
    95.48% { background-position: -704px 0; }
    100% { background-position: -736px 0; }
}
 
@-o-keyframes loading {
    0% { background-position: 0 0; }
    4.34% { background-position: -32px 0; }
    8.68% { background-position: -64px 0; }
    13.02% { background-position: -96px 0; }
    17.36% { background-position: -128px 0; }
   	21.7% { background-position: -160px 0; }
    26.04% { background-position: -192px 0; }
    30.38% { background-position: -224px 0; }
    34.72% { background-position: -256px 0; }
    39.06% { background-position: -288px 0; }
    43.4% { background-position: -320px 0; }
    47.74% { background-position: -352px 0; }
    52.08% { background-position: -384px 0; }
    56.42% { background-position: -416px 0; }
    60.76% { background-position: -448px 0; }
    65.1% { background-position: -480px 0; }
    69.44% { background-position: -512px 0; }
    73.78% { background-position: -544px 0; }
    78.12% { background-position: -576px 0; }
    82.46% { background-position: -608px 0; }
    86.8% { background-position: -640px 0; }
    91.14% { background-position: -672px 0; }
    95.48% { background-position: -704px 0; }
    100% { background-position: -736px 0; }
}
 
@keyframes loading {
    0% { background-position: 0 0; }
    4.34% { background-position: -32px 0; }
    8.68% { background-position: -64px 0; }
    13.02% { background-position: -96px 0; }
    17.36% { background-position: -128px 0; }
   	21.7% { background-position: -160px 0; }
    26.04% { background-position: -192px 0; }
    30.38% { background-position: -224px 0; }
    34.72% { background-position: -256px 0; }
    39.06% { background-position: -288px 0; }
    43.4% { background-position: -320px 0; }
    47.74% { background-position: -352px 0; }
    52.08% { background-position: -384px 0; }
    56.42% { background-position: -416px 0; }
    60.76% { background-position: -448px 0; }
    65.1% { background-position: -480px 0; }
    69.44% { background-position: -512px 0; }
    73.78% { background-position: -544px 0; }
    78.12% { background-position: -576px 0; }
    82.46% { background-position: -608px 0; }
    86.8% { background-position: -640px 0; }
    91.14% { background-position: -672px 0; }
    95.48% { background-position: -704px 0; }
    100% { background-position: -736px 0; }
}

